@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
body{
    overflow-x: hidden;
    font-family: 'Lato' ,sans-serif;
    color:#505962;

}

.imp{
    color: brown;
}
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, .6) !important;
}
.head{
    text-decoration: black;
    font-weight: 800;
    text-shadow: black;
    text-decoration-line: underline;
    padding-bottom: 30px;
    padding-top: 50px;
    
}
.pic img{
    padding-bottom: 50px;
    padding-left: 20px;
    padding-top: 80px;
    border-top: cornsilk 20px;
}
.para{
    color:cadetblue;
}
.pic{
    padding-top: 80px;
}
.heading{
    text-decoration-line: underline;
    padding-bottom: 10px;
    padding-top: none ;
}
.underline{
    text-decoration-line: underline;
    font-weight: 700;
    color: green;
}
.navbar-brand img {
    height: 3rem;
    padding: none;
}
.navbar-nav li {
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
color: white;
padding-top: .8rem;
}
.manufacturing{
    padding-top: 50px;
    padding-bottom: 50px;
}
.manufacturing-pic{
    padding-top: 50px;
    padding-bottom: 50px;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #1ebba3;
}
.home-inner img{
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color :white;
    
}
.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
    color: black;
}
.caption h3 {
    font-size: 2rem;
    padding-bottom: 1.6rem ;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
    color: black;
}
.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: 0.6rem 1.3rem;
    font-size: 1.1rem;
}

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block; 
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgba(0,0,0,0.2);
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color:#1ebba3;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #1ebba3;}


  .nexthead {
      padding-top: 8%;
      padding-left: 37%;
      padding-bottom: 10;
      font-weight: bolder;
  }
  .inside1 {
      padding-top: 5%;
      padding-left: 30%;
      font-weight: bold;
      font-size: larger;
      background-color: #7B68EE;
      padding-bottom: 5%;
      text-decoration-color:#191970 ;

  }
  .inside2 {
    padding-top: 5%;
    padding-left: 30%;
    font-weight: bold;
    font-size: larger;
    background-color:#87CEFA ;
    padding-bottom: 5%;
    text-decoration-color:#191970 ;

}
.inside3 {
    padding-top: 5%;
    padding-left: 18%;
    font-weight: bold;
    font-size: larger;
    background-color:    #9370DB;
    padding-bottom: 5%;
    text-decoration-color:#191970 ;


}
.inside4 {
    padding-top: 5%;
    padding-left: 30%;
    font-weight: bold;
    font-size: larger;
    background-color:#48D1CC;
    padding-bottom: 5%;
    text-decoration-color:#191970 ;


}

.orthcon {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    background-color:#48D1CC ;
    font-weight: bolder;
    text-decoration-color:#191970 ;
    }
        
.orthspan {
        
        padding-left: 43%;
    }
.orthform {
        padding-top: 3%;
    }
    
.orthhead {
    margin-top: 10%;
    margin-left: 5%;
    padding-left: 10%;
}
/* contact */
 
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
.newhead {
    color: black;
    font-size: larger;
    font-weight: bolder;
}