{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/fixed.css' %}">
    <title>Ayurvedic Medicines</title>
  </head>
  <body data-spy="scroll" data-target="#navebarResponsive">
      <!-- home section start -->
    <div id="home">
        <nav class="navbar navbar-expand md navbar-dark bg-dark fixed-top" >
            <a class="navbar-brand" href="#"><img src="{% static 'img/RIZO-CHEM.png' %}"></a>
            <i class="fa fa-facebook-official" style="font-size:36px;color:white"></i>
            <i class="fa fa-github-square" style="font-size:36px;color:white"></i>
            <i class="fa fa-instagram" style="font-size:36px;color:white"></i>
            <i class="fa fa-linkedin-square" style="font-size:36px;color:white"></i>
            <i class="fa fa-google" style="font-size:36px;color:white"></i>
            <i class="fa fa-twitter" style="font-size:36px;color:white"></i>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navebarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navebarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                        </li>
                       
                            <li class="nav-item">
                              <div class="dropdown">
                                <a class="nav-link" href="#products">Products</a>
                                <div class="dropdown-content">
                                  <a href="allopathic">Allopathic Medicines</a>
                                  <a href="ayurvedic">Ayurvedic Medicines</a>
                                  <a href="pharmacy">Pharmacy</a>
                                  <a href="disposals">Disposables</a>
                                  <a href="surgicals">Surgicals</a>
                                  <a href="neu">NUTRACEUTICALS</a>
                                  <a href="resp">Respiratory Solutions</a>
                                  <a href="orth">ORTHOPAEDIC SOFT GOODS & REHABILITATION AIDS</a>
                                  <a href="diag">DIAGNOSTIC</a>
                                  <a href="cath">CATHETER/CANULA</a>
                                  <a href="fluid">IV FLUIDS</a>
                                  <a href="#">COSMATIC</a>
                                  <a href="#">ANTI CANCER DRUGS</a>
                                  <a href="#">HORMONAL DRUGS</a>
                                  <a href="#">HERBAL DRUGS</a>
                                </div>
                              </div>
                              
                              </li>
                            
                                  <li class="nav-item">
                                    <a class="nav-link" href="#">Contact Us</a>
                                    </li>
                                    </ul>
                                    </div>
                                  </nav>

                                  <!-- main content start -->

                                      <h1 class="nexthead">Ayurvedic Medicines</h1>
                                      {% for ayu in ayur %}
                                            <div class="row">
                                                <div class="col-lg">
                                                    <p class="inside1">{{ayu.item1}}</p>
                                                </div>
                                                <div class="col-lg">
                                                    <p class="inside2">{{ayu.item2}}</p>
                                                </div>
                                                <div class="col-lg">
                                                    <p class="inside3">{{ayu.item3}}</p>
                                                </div>
                                                <div class="col-lg">
                                                    <p class="inside4">{{ayu.item4}}</p>
                                                </div>
                                              </div>
                                        {% endfor %}      


                                              