{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/fixed.css' %}">
    <title>RizoChemInternational</title>
  </head>
  <body data-spy="scroll" data-target="#navebarResponsive">
      <!-- home section start -->
    <div id="home">
        <nav class="navbar navbar-expand md navbar-dark bg-dark fixed-top" >
            <a class="navbar-brand" href="#"><img src="{% static 'img/RIZO-CHEM.png' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navebarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navebarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#aboutus">About Us</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#manufacturing">Manufacturing</a>
                            </li>
                            <li class="nav-item">
                              <div class="dropdown">
                                <a class="nav-link" href="#products">Products</a>
                                <div class="dropdown-content">
                                  <a href="pages/allopathic">Allopathic Medicines</a>
                                  <a href="pages/ayurvedic">Ayurvedic Medicines</a>
                                  <a href="pages/pharmacy">Pharmacy</a>
                                  <a href="pages/disposals">Disposals</a>
                                  <a href="pages/surgicals">Surgicals</a>
                                  <a href="pages/neu">NUTRACEUTICALS</a>
                                  <a href="pages/resp">Respiratory Solutions</a>
                                  <a href="pages/orth">ORTHOPAEDIC SOFT GOODS & REHABILITATION AIDS</a>
                                   
                                  
                                </div>
                              </div>
                              
                            </li>
                            
                                  <li class="nav-item">
                                    <a class="nav-link" href="#contactus">Contact Us</a>
                                    </li>
                                    </ul>
                                    </div>
                                  </nav>
                                <!-- start landing page sec -->
                                <div class="landing">
                                  <div class="home-wrap">
                                    <div class="home-inner">
                                      <img src="{% static 'img/129249732-research-and-development-concept-double-exposure-image-of-scientific-and-medical-lab-instrument-micr.png' %}" >

                                    </div>
                                  </div>
                                </div>
                                <div class="caption text-center">
                                  <h1>Welcome to Rizochem International </h1>
                                  <h3>A Pharmaceuticals </h3>
                                  
                                </div>
                                <!-- end landing page sec -->
        

      <!-- home section ends -->
      
     <!-- about us starts -->
     <div id="aboutus" class="offset">
       <div class="col-12 narrow text-center">
        <div class="row text-center">
        <div class="col-md-6">
         <h2 class="head">Who Are We</h2>
         <p><strong class="underline">Rizochem International</strong> (Pharmaceutical)</p>
         <p class="para">We are a Global Trading House specialised in sourcing and exporting a ultimate range of 
           products and services worldwide. We have a highly skilled team with advance technologies 
            regulatory affairs specialists to deliver the best quality products at highly competitive
             prices in fast and easy trading process internationally.   </p>
              <p class="para">Rizochem is one of the Fastest growing Pharma company in India. Our core strength lies in our
                 ability to excel in developing over-the-counter and technologically complex medicines, at very
                  low costs and without compromising on quality.</p>
                 <p class="para">We have ensured world-class quality in design, equipment and operations in all our 
                   manufacturing facilities. Our global quality management team ensures that every product
                    manufactured and distributed by us complies with all internationally accepted good 
                     and standards of quality, purity, efficacy and safety.</p>
                    <p><strong class="imp">We are sure that with our unique business model, corporate values & with 
                      the culture of quality & excellence we shall lead our relationships with alliances
                       and ultimately pave our way to newer heights.</strong></p>
                       </div>
                       <div class="col-md-5">
                         <img class="pic" src="{% static 'img/istockphoto-1144696595-1024x1024.jpg' %}">
                       </div>
                       </div>
                       
                       <div class="row text-center">
        <div class="col-md-7">
        <h2 class="head">Our Mission</h2>
        <p class="para"> Our mission is to uphold our social responsibility by improving the quality of human life by 
          providing quality products of WHO-GMP standards and ensuring premier health care for the 
          society.</p>
        <p class="para">We are a forerunner in the fast emerging and ever growing pharmaceutical market. We believes 
          that complete customer satisfaction is the key to increase clientele and expand business..
          Prompt responsiveness and acceptance of audit compliance is our strength.. Passion to excel in
           technology, competency, resources and services,</p>
        <p class="para">We have well planned infrastructure with dedicated blocks and uniflow man & material movements. 
          We have well defined departments wherein competent professionals are on the board.</p>
        <p class="para">* To contribute to the enrichment of quality of life around the world through the creation of
           innovative pharmaceutical products, and through the provision of pharmaceuticals addressing 
           diverse medical needs.</p>
        <p class="para">* Not just better healthcare, but a better healthcare experience...</p>
        </div>
        
        
        <div class="col-md-5">
        <h2 class="head">Vision</h2>
        <p class="para">* To provide all kind of medicines be it Allopathic, Herbal,  Ayurvedic, Cosmetics to all
           under one roof and to provide affordable medicines to all.</p>
        <p class="para">* Our collaborated plant are certified by Drug authorities with GMP certifications of 
          Schedule "m" & WHO-GMP Norms & ISO 9001 2015.</p>
        
         </div>
          </div>
      
               </div>

     </div>
     <!-- about us ends -->
     <!-- manufacturing starts -->
     <div id="manufacturing" class="offset">
       <div class="jumbotron">
         <div class="narrow text-center">
           <div class="col-12">
             <h2 class="heading">Manufacturing</h2>
             <div class="heading-underline"></div>
             
             <div class="row text-center">
               
              <div class="col-md-5">
                 <div class="manufacturing">
                  <p class="para"><strong class="underline">RIZOCHEM PHARMACEUTICALS </strong>  is also in third party 
                    manufacturing, all our manufacturing facilities have ensured world- class quality in
                     design equipment and operations. Our all  manufacturers ensure that we are able to 
                     provide best-in-class quality and economical pharmaceutical and nutraceutical 
                     products.</p>
                      <p class="para">Our  manufacturers  are focused on producing speciality in Allopathic medicine,
                         Nutraceutical, Herbal and Ayurvedic medicine in the full range of dosage forms,
                          we have Medicinal tablets, capsules, injectables, ointments, Gynecological
                           medicaments, Intimate Hygiene products, also have expertise in 
                            Effervescent tablets, injection, Amoxiclave, Cephalosporin, Nasal Spray, Eye
                             Drops, Ointment, Cream, Gel, Lotions, Topical spray, Vaginal tablet 
                             ( Suppository ), Antibiotics, Antibacterial, Anti Viral, Anti cold, NSAID, 
                             Anti Histaminic, Antacid, Anti Fungal, Anti Scabies, Topical Steroids, Anti 
                             Acne, Skin lightning, Cough Syrup, Paediatric Preparation and Eye lubricant
                              products.  </p>
                            <p class="para"><strong  class="underline">Rizochem International</strong> (Pharmaceutical) has collaboration
                               with only those manufacturing units which are based upon state of art
                                manufacturing technologies approved by WHO-GMP,  ISO and other various 
                                authority..</p>
               </div>
               </div>
               
               <div class="col-md-5">
                <div class="manufacturing-pic">
                  <img src="{% static 'img/pic.png' %}">
                  </div>
                  </div>
                
             </div>
             
            </div>
             </div>
             </div>
         </div>
     <!-- manufacturing end -->
     

     <!-- contact us start -->
     <div id="contactus" class="offset">
       
         <div class="narrow text-center">
         <div class="col-12">
         
            <h2  class="heading">Contact Us</h2>
          
         <div class="row text-center">
             <div class="col-md-6">
            
           <h3 class="contact">Rizochem International</h3>
           <p><strong>Mobile:</strong>963477190</p>
           <p><strong>Email:</strong>rizocheminternational@gmail.com</p>
           <p><strong>Web:</strong>www.rizocheminternational.com</p>

           
           </div>
           
            <div class="col-md-6">
              <div class="query">
                <form action="#">
                  <div>
                  <label for="name">Name</label>
                </div>
                <div>
                <input id="name" type="text" placeholder="Name" required>
                </div>
                <div>
                  <label for="email">Email</label>
                </div>
                <div>
                <input id="email" type="email" placeholder="Email" required>
                </div>
                <div>
                <label for="query">Query</label>
              </div>
              <div>
                <textarea name="message" rows="10" cols="30"></textarea>
                
              </div>
              <div>
                <input type="submit">
              </div>  
                </form>
                </div>
              </div>
            </div>
            </div>
            </div>
          


     <!-- contact us end -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>